*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(240, 248, 255, 0.76);
}
.banai{
    border: 1px solid#ffa448;
}
.banai:hover{
    background-color: #ffa448;
}

#person{
    height: 550px;
    padding: 95px 20px 30px 45px;
}
#h1{
    margin: 90px 20px 10px 0px;
    font-size: 52px;
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
    padding-left: 15px;
}
#box{
    margin-bottom: 100px;
}
#p{
    margin: 15px 5px 10px 0px;
}
.half{
    padding: 75px 26px 50px 60px;
}
#mission{
    text-align: center;
    margin: 40px 0px;
    font-size: 45px;
    color: rgb(0, 0, 19);
    padding: 10px;
}
#missions{
    margin: 40px 0px 15px 0px;
    font-size: 38px;
    color: rgb(17, 16, 16);
    /* padding: 10px; */
}
.car-1 img,.car-2 img,.car-3 img{
    height: 150px;
    width: 150px;
    border-radius: 15px;

}
.car-1{
    background-color: rgba(220, 222, 255, 0.733);
    border-radius: 20px;
    height: 310px;
    border: none;
}
.car-2{
    background-color: rgba(252, 217, 225, 0.767);
    border-radius: 20px;
    height: 310px;
    border: none;
}
.car-3{
    background-color: rgba(255, 248, 220, 0.733);
    border-radius: 20px;
    height: 310px;
    border: none;
}
.card-title b{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}
.pera{
    margin-top: 20px;
    color: rgba(75, 72, 72, 0.795);
    
}
#develop{
    margin-bottom: 50px;
}
#position{
    position: absolute;
    left: 12px;
    height: 265px;
    top: 1120px;
    /* bottom: -708px; */
}
#pot {
    position: relative;
    height: 200px;
    /* right: 18px; */
    left: 274px;
    top: -103px;
}
#acc{
    margin-bottom: 120px;
}
.col-5{
    padding: 10px 25px;

}
.col-7{
    padding: 75px 15px;
}
.ok{
    padding: 130px 15px;
}
#app{
    margin-bottom: 150px;
}

footer{
    background-color: rgb(0, 3, 20);
    height: 200px;
    padding-top: 40px;
}
.text{
    text-align: center;
    /* margin-top: 20px; */
}
.text h5{
    margin-bottom: 15px;
    font-family: 'Courgette', cursive;
    font-size: 41px;
}